body{
    background-color: #74b9ff;
    font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;
padding-right: 0px;
color: white;
}
.header{
    display: flex;
    margin:auto;
    justify-content: center;
    font-weight: bolder;
    font-size:23px;
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.body div{
    display: flex;
    /* border: 2px solid red; */
    width: 500px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.body div button{
    margin-left: 10px;
    width: 50px;
    height: 33px;
    cursor: pointer;
}
.inner{
    font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;
display: flex;
flex-direction: column;
font-size: 20px;
color: white;

}
.inner h1{
    margin-top: 0;
    margin-bottom: 0;
}
#temp{
    margin-bottom: 0;
}
input{
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    width: 300px;
    cursor: pointer;
}
.sec{
    font-size: 40px;
    margin: 0;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

#img{
    width: 90px;
}
.last{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    /* margin: 0 500px; */
    text-align: left;
}
.last img{
    width: 60px;
}
.last h3{
    margin: 0px;
}
.outer{
    margin-right: 30px;
}
.outer2{
    margin-left: 30px;
}
.outer2 img{
    margin-bottom: 5px;
    padding-top: 5px;
}



